@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Staatliches&family=Tourney:wght@600&display=swap');

:root {
  --font-main:'PT Sans', sans-serif;
  --color-main: #000;
}
* {
  box-sizing: border-box;
}

body {
  font: 28px var(--font-main);
  color: var(--color-main);
  min-height: 100vh;
}

.container {
  margin-top: 150px;
  background-image: url(../images/bg-picture.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-position-y: 150px ;
}

.content__header,
.content {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
}

.header {
  /*position: relative;*/
  /*margin: 25px 0 95px;*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.logo{
  margin-left: auto;
  font-size: 0;
  /*position: absolute;
  right: 120px;
  top: -10px;*/
}

.menu {
  display: flex;
  align-items: center;
  height: 80px;
}

.menu__lang {
  font-family: 'Tourney', cursive;
  font-size: 1.375rem;
  text-transform: uppercase;
  margin-right: 50px;
  /*align-self: center;*/
}

.menu-list{
  display: flex;
}

.menu-list__link {
  text-decoration: none;
  font-family: 'Staatliches', cursive;
  font-size: 1.375rem;
  color: var(--color-main);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu-list--after::after {
  content: "\2215";
  padding:0 10px;
}

.sidebar {
  position: sticky;
  top: 100px;
  width: 39%;
  margin-right: 20px;
  height: 40vh;
}

.sidebar__item {
  margin-bottom: 80px;
  border-bottom: 1px solid #BDBDBD;
}

.sidebar__item a {
  text-decoration: none;
  color: var(--color-main);
}

.text {
  width: 59%;
}


.chapter {
  margin-bottom: 70px;
}

.chapter__title {
  font-family: 'Francois One', sans-serif;
  font-size: 2.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}

.chapter .chapter__title::before {
  content: '';
  /*display: block;*/
  width: 100px;
  height: 8px;
  background-color: var(--color-main);
  top: -20px;
  position: absolute;
  /*border-bottom: 8px solid var(--color-main);*/
}

.sub-title {
  font-family: 'Farro', sans-serif;
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-transform: none;
  vertical-align: super;
}

.chapter__text {
  line-height: 1.7;
  margin-bottom: 40px;
}

.text--underline {
  text-decoration: underline;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-weight: bold;
}

.text--highlight {
  background-color: #DADADA;
}



